{
  "openapi": "3.0.1",
  "info": {
    "title": "common-platform-customer-mgmt",
    "description": "Customer Management Core Application",
    "contact": {
      "name": "Catalis Development",
      "email": "dev@catalis.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://core.catalis.vc/customers",
      "description": "Development Environment"
    },
    {
      "url": "/",
      "description": "Local Development Environment"
    }
  ],
  "tags": [
    {
      "name": "Addresses",
      "description": "API for managing addresses associated with parties"
    },
    {
      "name": "Identity Documents",
      "description": "API for managing identity documents associated with parties"
    },
    {
      "name": "Party Economic Activities",
      "description": "API for managing party economic activities associated with parties"
    },
    {
      "name": "Party Providers",
      "description": "API for managing party providers associated with parties"
    },
    {
      "name": "Party Group Memberships",
      "description": "API for managing party group memberships associated with parties"
    },
    {
      "name": "Legal Entities",
      "description": "API for managing legal entities - corporate customers associated with parties"
    },
    {
      "name": "Email Contacts",
      "description": "API for managing email contacts associated with parties"
    },
    {
      "name": "Phone Contacts",
      "description": "API for managing phone contacts associated with parties"
    },
    {
      "name": "Parties",
      "description": "API for managing parties - the main customer entities in the system"
    },
    {
      "name": "Party Statuses",
      "description": "API for managing party statuses associated with parties"
    },
    {
      "name": "Consents",
      "description": "API for managing consents associated with parties - privacy and data processing agreements"
    },
    {
      "name": "Party Relationships",
      "description": "API for managing relationships between parties - hierarchies, associations, and business connections"
    },
    {
      "name": "Natural Persons",
      "description": "API for managing natural persons - individual customers associated with parties"
    },
    {
      "name": "Politically Exposed Persons",
      "description": "API for managing politically exposed persons (PEP) associated with parties - regulatory compliance entities"
    }
  ],
  "paths": {
    "/api/v1/parties/{partyId}": {
      "get": {
        "tags": [
          "Parties"
        ],
        "summary": "Get party by ID",
        "description": "Retrieve a specific party by its unique identifier",
        "operationId": "getPartyById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Party found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Parties"
        ],
        "summary": "Update party",
        "description": "Update an existing party with new information",
        "operationId": "updateParty",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid party data"
          },
          "404": {
            "description": "Party not found"
          },
          "200": {
            "description": "Party successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Parties"
        ],
        "summary": "Delete party",
        "description": "Delete a party from the system",
        "operationId": "deleteParty",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "204": {
            "description": "Party successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/relationships/{relationshipId}": {
      "get": {
        "tags": [
          "Party Relationships"
        ],
        "summary": "Get party relationship by ID",
        "description": "Retrieve a specific relationship associated with a party by its unique identifier",
        "operationId": "getPartyRelationshipById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "description": "Unique identifier of the party relationship",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Party relationship found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyRelationshipDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party relationship or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Party Relationships"
        ],
        "summary": "Update party relationship",
        "description": "Update an existing relationship associated with a party",
        "operationId": "updatePartyRelationship",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "description": "Unique identifier of the party relationship",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyRelationshipDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party relationship or party not found"
          },
          "200": {
            "description": "Party relationship successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyRelationshipDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid party relationship data"
          }
        }
      },
      "delete": {
        "tags": [
          "Party Relationships"
        ],
        "summary": "Delete party relationship",
        "description": "Delete a relationship associated with a party from the system",
        "operationId": "deletePartyRelationship",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "relationshipId",
            "in": "path",
            "description": "Unique identifier of the party relationship",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party relationship or party not found"
          },
          "204": {
            "description": "Party relationship successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/politically-exposed-persons/{pepId}": {
      "get": {
        "tags": [
          "Politically Exposed Persons"
        ],
        "summary": "Get politically exposed person by ID",
        "description": "Retrieve a specific politically exposed person associated with a party by its unique identifier",
        "operationId": "getPoliticallyExposedPersonById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pepId",
            "in": "path",
            "description": "Unique identifier of the politically exposed person",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Politically exposed person or party not found"
          },
          "200": {
            "description": "Politically exposed person found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PoliticallyExposedPersonDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Politically Exposed Persons"
        ],
        "summary": "Update politically exposed person",
        "description": "Update an existing politically exposed person record associated with a party",
        "operationId": "updatePoliticallyExposedPerson",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pepId",
            "in": "path",
            "description": "Unique identifier of the politically exposed person",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoliticallyExposedPersonDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Politically exposed person successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PoliticallyExposedPersonDTO"
                }
              }
            }
          },
          "404": {
            "description": "Politically exposed person or party not found"
          },
          "400": {
            "description": "Invalid politically exposed person data"
          }
        }
      },
      "delete": {
        "tags": [
          "Politically Exposed Persons"
        ],
        "summary": "Delete politically exposed person",
        "description": "Delete a politically exposed person record associated with a party from the system",
        "operationId": "deletePoliticallyExposedPerson",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pepId",
            "in": "path",
            "description": "Unique identifier of the politically exposed person",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Politically exposed person or party not found"
          },
          "204": {
            "description": "Politically exposed person successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-statuses/{partyStatusId}": {
      "get": {
        "tags": [
          "Party Statuses"
        ],
        "summary": "Get party status by ID",
        "description": "Retrieve a specific party status associated with a party by its unique identifier",
        "operationId": "getPartyStatusById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyStatusId",
            "in": "path",
            "description": "Unique identifier of the party status",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party status or party not found"
          },
          "200": {
            "description": "Party status found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyStatusDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Party Statuses"
        ],
        "summary": "Update party status",
        "description": "Update an existing party status associated with a party",
        "operationId": "updatePartyStatus",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyStatusId",
            "in": "path",
            "description": "Unique identifier of the party status",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyStatusDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid party status data"
          },
          "404": {
            "description": "Party status or party not found"
          },
          "200": {
            "description": "Party status successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyStatusDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Party Statuses"
        ],
        "summary": "Delete party status",
        "description": "Delete a party status associated with a party from the system",
        "operationId": "deletePartyStatus",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyStatusId",
            "in": "path",
            "description": "Unique identifier of the party status",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party status or party not found"
          },
          "204": {
            "description": "Party status successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-providers/{partyProviderId}": {
      "get": {
        "tags": [
          "Party Providers"
        ],
        "summary": "Get party provider by ID",
        "description": "Retrieve a specific party provider associated with a party by its unique identifier",
        "operationId": "getPartyProviderById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyProviderId",
            "in": "path",
            "description": "Unique identifier of the party provider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Party provider found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyProviderDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party provider or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Party Providers"
        ],
        "summary": "Update party provider",
        "description": "Update an existing party provider associated with a party",
        "operationId": "updatePartyProvider",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyProviderId",
            "in": "path",
            "description": "Unique identifier of the party provider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyProviderDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Party provider successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyProviderDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party provider or party not found"
          },
          "400": {
            "description": "Invalid party provider data"
          }
        }
      },
      "delete": {
        "tags": [
          "Party Providers"
        ],
        "summary": "Delete party provider",
        "description": "Delete a party provider associated with a party from the system",
        "operationId": "deletePartyProvider",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyProviderId",
            "in": "path",
            "description": "Unique identifier of the party provider",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Party provider successfully deleted"
          },
          "404": {
            "description": "Party provider or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-group-memberships/{partyGroupMembershipId}": {
      "get": {
        "tags": [
          "Party Group Memberships"
        ],
        "summary": "Get party group membership by ID",
        "description": "Retrieve a specific party group membership associated with a party by its unique identifier",
        "operationId": "getPartyGroupMembershipById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyGroupMembershipId",
            "in": "path",
            "description": "Unique identifier of the party group membership",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Party group membership found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyGroupMembershipDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party group membership or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Party Group Memberships"
        ],
        "summary": "Update party group membership",
        "description": "Update an existing party group membership associated with a party",
        "operationId": "updatePartyGroupMembership",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyGroupMembershipId",
            "in": "path",
            "description": "Unique identifier of the party group membership",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyGroupMembershipDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid party group membership data"
          },
          "200": {
            "description": "Party group membership successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyGroupMembershipDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party group membership or party not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Party Group Memberships"
        ],
        "summary": "Delete party group membership",
        "description": "Delete a party group membership associated with a party from the system",
        "operationId": "deletePartyGroupMembership",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyGroupMembershipId",
            "in": "path",
            "description": "Unique identifier of the party group membership",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party group membership or party not found"
          },
          "204": {
            "description": "Party group membership successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-economic-activities/{partyEconomicActivityId}": {
      "get": {
        "tags": [
          "Party Economic Activities"
        ],
        "summary": "Get party economic activity by ID",
        "description": "Retrieve a specific party economic activity associated with a party by its unique identifier",
        "operationId": "getPartyEconomicActivityById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyEconomicActivityId",
            "in": "path",
            "description": "Unique identifier of the party economic activity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Party economic activity found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyEconomicActivityDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party economic activity or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Party Economic Activities"
        ],
        "summary": "Update party economic activity",
        "description": "Update an existing party economic activity associated with a party",
        "operationId": "updatePartyEconomicActivity",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyEconomicActivityId",
            "in": "path",
            "description": "Unique identifier of the party economic activity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyEconomicActivityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Party economic activity successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyEconomicActivityDTO"
                }
              }
            }
          },
          "404": {
            "description": "Party economic activity or party not found"
          },
          "400": {
            "description": "Invalid party economic activity data"
          }
        }
      },
      "delete": {
        "tags": [
          "Party Economic Activities"
        ],
        "summary": "Delete party economic activity",
        "description": "Delete a party economic activity associated with a party from the system",
        "operationId": "deletePartyEconomicActivity",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "partyEconomicActivityId",
            "in": "path",
            "description": "Unique identifier of the party economic activity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Party economic activity successfully deleted"
          },
          "404": {
            "description": "Party economic activity or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/natural-persons/{naturalPersonId}": {
      "get": {
        "tags": [
          "Natural Persons"
        ],
        "summary": "Get natural person by ID",
        "description": "Retrieve a specific natural person associated with a party by its unique identifier",
        "operationId": "getNaturalPersonById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "naturalPersonId",
            "in": "path",
            "description": "Unique identifier of the natural person",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Natural person or party not found"
          },
          "200": {
            "description": "Natural person found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Natural Persons"
        ],
        "summary": "Update natural person",
        "description": "Update an existing natural person associated with a party",
        "operationId": "updateNaturalPerson",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "naturalPersonId",
            "in": "path",
            "description": "Unique identifier of the natural person",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NaturalPersonDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Natural person successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonDTO"
                }
              }
            }
          },
          "404": {
            "description": "Natural person or party not found"
          },
          "400": {
            "description": "Invalid natural person data"
          }
        }
      },
      "delete": {
        "tags": [
          "Natural Persons"
        ],
        "summary": "Delete natural person",
        "description": "Delete a natural person associated with a party from the system",
        "operationId": "deleteNaturalPerson",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "naturalPersonId",
            "in": "path",
            "description": "Unique identifier of the natural person",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Natural person or party not found"
          },
          "204": {
            "description": "Natural person successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/legal-entities/{legalEntityId}": {
      "get": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Get legal entity by ID",
        "description": "Retrieve a specific legal entity associated with a party by its unique identifier",
        "operationId": "getLegalEntityById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "legalEntityId",
            "in": "path",
            "description": "Unique identifier of the legal entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Legal entity found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LegalEntityDTO"
                }
              }
            }
          },
          "404": {
            "description": "Legal entity or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Update legal entity",
        "description": "Update an existing legal entity associated with a party",
        "operationId": "updateLegalEntity",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "legalEntityId",
            "in": "path",
            "description": "Unique identifier of the legal entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalEntityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Legal entity successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LegalEntityDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid legal entity data"
          },
          "404": {
            "description": "Legal entity or party not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Delete legal entity",
        "description": "Delete a legal entity associated with a party from the system",
        "operationId": "deleteLegalEntity",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "legalEntityId",
            "in": "path",
            "description": "Unique identifier of the legal entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Legal entity successfully deleted"
          },
          "404": {
            "description": "Legal entity or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/documents/identity/{identityDocumentId}": {
      "get": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Get identity document by ID",
        "description": "Retrieve a specific identity document associated with a party by its unique identifier",
        "operationId": "getIdentityDocumentById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "identityDocumentId",
            "in": "path",
            "description": "Unique identifier of the identity document",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Identity document or party not found"
          },
          "200": {
            "description": "Identity document found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Update identity document",
        "description": "Update an existing identity document associated with a party",
        "operationId": "updateIdentityDocument",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "identityDocumentId",
            "in": "path",
            "description": "Unique identifier of the identity document",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityDocumentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid identity document data"
          },
          "200": {
            "description": "Identity document successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentDTO"
                }
              }
            }
          },
          "404": {
            "description": "Identity document or party not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Delete identity document",
        "description": "Delete an identity document associated with a party from the system",
        "operationId": "deleteIdentityDocument",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "identityDocumentId",
            "in": "path",
            "description": "Unique identifier of the identity document",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Identity document successfully deleted"
          },
          "404": {
            "description": "Identity document or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/contacts/phone/{phoneContactId}": {
      "get": {
        "tags": [
          "Phone Contacts"
        ],
        "summary": "Get phone contact by ID",
        "description": "Retrieve a specific phone contact associated with a party by its unique identifier",
        "operationId": "getPhoneContactById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "phoneContactId",
            "in": "path",
            "description": "Unique identifier of the phone contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone contact found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneContactDTO"
                }
              }
            }
          },
          "404": {
            "description": "Phone contact or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Phone Contacts"
        ],
        "summary": "Update phone contact",
        "description": "Update an existing phone contact associated with a party",
        "operationId": "updatePhoneContact",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "phoneContactId",
            "in": "path",
            "description": "Unique identifier of the phone contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneContactDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid phone contact data"
          },
          "200": {
            "description": "Phone contact successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneContactDTO"
                }
              }
            }
          },
          "404": {
            "description": "Phone contact or party not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Phone Contacts"
        ],
        "summary": "Delete phone contact",
        "description": "Delete a phone contact associated with a party from the system",
        "operationId": "deletePhoneContact",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "phoneContactId",
            "in": "path",
            "description": "Unique identifier of the phone contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Phone contact successfully deleted"
          },
          "404": {
            "description": "Phone contact or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/contacts/email/{emailContactId}": {
      "get": {
        "tags": [
          "Email Contacts"
        ],
        "summary": "Get email contact by ID",
        "description": "Retrieve a specific email contact associated with a party by its unique identifier",
        "operationId": "getEmailContactById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "emailContactId",
            "in": "path",
            "description": "Unique identifier of the email contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email contact found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EmailContactDTO"
                }
              }
            }
          },
          "404": {
            "description": "Email contact or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Email Contacts"
        ],
        "summary": "Update email contact",
        "description": "Update an existing email contact associated with a party",
        "operationId": "updateEmailContact",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "emailContactId",
            "in": "path",
            "description": "Unique identifier of the email contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailContactDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Email contact successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EmailContactDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email contact data"
          },
          "404": {
            "description": "Email contact or party not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Email Contacts"
        ],
        "summary": "Delete email contact",
        "description": "Delete an email contact associated with a party from the system",
        "operationId": "deleteEmailContact",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "emailContactId",
            "in": "path",
            "description": "Unique identifier of the email contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email contact successfully deleted"
          },
          "404": {
            "description": "Email contact or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/consents/{consentId}": {
      "get": {
        "tags": [
          "Consents"
        ],
        "summary": "Get consent by ID",
        "description": "Retrieve a specific consent associated with a party by its unique identifier",
        "operationId": "getConsentById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "consentId",
            "in": "path",
            "description": "Unique identifier of the consent",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consent found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentDTO"
                }
              }
            }
          },
          "404": {
            "description": "Consent or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Consents"
        ],
        "summary": "Update consent",
        "description": "Update an existing consent associated with a party - typically used for withdrawing or modifying consent",
        "operationId": "updateConsent",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "consentId",
            "in": "path",
            "description": "Unique identifier of the consent",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Consent successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid consent data"
          },
          "404": {
            "description": "Consent or party not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Consents"
        ],
        "summary": "Delete consent",
        "description": "Delete a consent record associated with a party from the system",
        "operationId": "deleteConsent",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "consentId",
            "in": "path",
            "description": "Unique identifier of the consent",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Consent successfully deleted"
          },
          "404": {
            "description": "Consent or party not found"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get address by ID",
        "description": "Retrieve a specific address associated with a party by its unique identifier",
        "operationId": "getAddressById",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Unique identifier of the address",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDTO"
                }
              }
            }
          },
          "404": {
            "description": "Address or party not found"
          }
        }
      },
      "put": {
        "tags": [
          "Addresses"
        ],
        "summary": "Update address",
        "description": "Update an existing address associated with a party",
        "operationId": "updateAddress",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Unique identifier of the address",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid address data"
          },
          "404": {
            "description": "Address or party not found"
          },
          "200": {
            "description": "Address successfully updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Delete address",
        "description": "Delete an address associated with a party from the system",
        "operationId": "deleteAddress",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "Unique identifier of the address",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Address or party not found"
          },
          "204": {
            "description": "Address successfully deleted"
          }
        }
      }
    },
    "/api/v1/parties": {
      "post": {
        "tags": [
          "Parties"
        ],
        "summary": "Create party",
        "description": "Create a new party in the system",
        "operationId": "createParty",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid party data"
          },
          "201": {
            "description": "Party successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/relationships": {
      "post": {
        "tags": [
          "Party Relationships"
        ],
        "summary": "Create party relationship",
        "description": "Create a new relationship between the specified party and another party",
        "operationId": "createPartyRelationship",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyRelationshipDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid party relationship data"
          },
          "201": {
            "description": "Party relationship successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyRelationshipDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/relationships/filter": {
      "post": {
        "tags": [
          "Party Relationships"
        ],
        "summary": "Filter party relationships",
        "description": "Retrieve a paginated list of relationships associated with a specific party based on filtering criteria",
        "operationId": "filterPartyRelationships",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestPartyRelationshipDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered party relationships",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/politically-exposed-persons": {
      "post": {
        "tags": [
          "Politically Exposed Persons"
        ],
        "summary": "Create politically exposed person for a party",
        "description": "Create a new politically exposed person record associated with a specific party for regulatory compliance",
        "operationId": "createPoliticallyExposedPerson",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PoliticallyExposedPersonDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "201": {
            "description": "Politically exposed person successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PoliticallyExposedPersonDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid politically exposed person data"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/politically-exposed-persons/filter": {
      "post": {
        "tags": [
          "Politically Exposed Persons"
        ],
        "summary": "Filter politically exposed persons for a party",
        "description": "Retrieve a paginated list of politically exposed persons associated with a specific party based on filtering criteria for regulatory compliance",
        "operationId": "filterPoliticallyExposedPersons",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestPoliticallyExposedPersonDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered politically exposed persons",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-statuses": {
      "post": {
        "tags": [
          "Party Statuses"
        ],
        "summary": "Create party status for a party",
        "description": "Create a new party status associated with a specific party",
        "operationId": "createPartyStatus",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyStatusDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid party status data"
          },
          "201": {
            "description": "Party status successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyStatusDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-statuses/filter": {
      "post": {
        "tags": [
          "Party Statuses"
        ],
        "summary": "Filter party statuses for a party",
        "description": "Retrieve a paginated list of party statuses associated with a specific party based on filtering criteria",
        "operationId": "filterPartyStatuses",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestPartyStatusDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered party statuses",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-providers": {
      "post": {
        "tags": [
          "Party Providers"
        ],
        "summary": "Create party provider for a party",
        "description": "Create a new party provider associated with a specific party",
        "operationId": "createPartyProvider",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyProviderDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "201": {
            "description": "Party provider successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyProviderDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid party provider data"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-providers/filter": {
      "post": {
        "tags": [
          "Party Providers"
        ],
        "summary": "Filter party providers for a party",
        "description": "Retrieve a paginated list of party providers associated with a specific party based on filtering criteria",
        "operationId": "filterPartyProviders",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestPartyProviderDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered party providers",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-group-memberships": {
      "post": {
        "tags": [
          "Party Group Memberships"
        ],
        "summary": "Create party group membership for a party",
        "description": "Create a new party group membership associated with a specific party",
        "operationId": "createPartyGroupMembership",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyGroupMembershipDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid party group membership data"
          },
          "404": {
            "description": "Party not found"
          },
          "201": {
            "description": "Party group membership successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyGroupMembershipDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-group-memberships/filter": {
      "post": {
        "tags": [
          "Party Group Memberships"
        ],
        "summary": "Filter party group memberships for a party",
        "description": "Retrieve a paginated list of party group memberships associated with a specific party based on filtering criteria",
        "operationId": "filterPartyGroupMemberships",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestPartyGroupMembershipDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered party group memberships",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-economic-activities": {
      "post": {
        "tags": [
          "Party Economic Activities"
        ],
        "summary": "Create party economic activity for a party",
        "description": "Create a new party economic activity associated with a specific party",
        "operationId": "createPartyEconomicActivity",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartyEconomicActivityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "201": {
            "description": "Party economic activity successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PartyEconomicActivityDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid party economic activity data"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/party-economic-activities/filter": {
      "post": {
        "tags": [
          "Party Economic Activities"
        ],
        "summary": "Filter party economic activities for a party",
        "description": "Retrieve a paginated list of party economic activities associated with a specific party based on filtering criteria",
        "operationId": "filterPartyEconomicActivities",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestPartyEconomicActivityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered party economic activities",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/natural-persons": {
      "get": {
        "tags": [
          "Natural Persons"
        ],
        "summary": "Get natural person by party ID",
        "description": "Retrieve the natural person associated with a specific party",
        "operationId": "getNaturalPersonByPartyId",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "200": {
            "description": "Natural person found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Natural Persons"
        ],
        "summary": "Create natural person for a party",
        "description": "Create a new natural person associated with a specific party",
        "operationId": "createNaturalPerson",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NaturalPersonDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "201": {
            "description": "Natural person successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NaturalPersonDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid natural person data"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/natural-persons/filter": {
      "post": {
        "tags": [
          "Natural Persons"
        ],
        "summary": "Filter natural persons for a party",
        "description": "Retrieve a paginated list of natural persons associated with a specific party based on filtering criteria",
        "operationId": "filterNaturalPersons",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestNaturalPersonDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered natural persons",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/legal-entities": {
      "get": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Get legal entity by party ID",
        "description": "Retrieve the legal entity associated with a specific party",
        "operationId": "getLegalEntityByPartyId",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "200": {
            "description": "Legal entity found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LegalEntityDTO"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Create legal entity for a party",
        "description": "Create a new legal entity associated with a specific party",
        "operationId": "createLegalEntity",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalEntityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "201": {
            "description": "Legal entity successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LegalEntityDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid legal entity data"
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/legal-entities/filter": {
      "post": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Filter legal entities for a party",
        "description": "Retrieve a paginated list of legal entities associated with a specific party based on filtering criteria",
        "operationId": "filterLegalEntities",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestLegalEntityDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered legal entities",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/documents/identity": {
      "post": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Create identity document for a party",
        "description": "Create a new identity document associated with a specific party",
        "operationId": "createIdentityDocument",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityDocumentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid identity document data"
          },
          "201": {
            "description": "Identity document successfully created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/documents/identity/filter": {
      "post": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Filter identity documents for a party",
        "description": "Retrieve a paginated list of identity documents associated with a specific party based on filtering criteria",
        "operationId": "filterIdentityDocuments",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequestIdentityDocumentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Party not found"
          },
          "400": {
            "description": "Invalid filter request"
          },
          "200": {
            "description": "Successfully retrieved filtered identity documents",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parties/{partyId}/contacts/phone": {
      "post": {
        "tags": [
          "Phone Contacts"
        ],
        "summary": "Create phone contact for a party",
        "description": "Create a new phone contact associated with a specific party",
        "operationId": "createPhoneContact",
        "parameters": [
          {
            "name": "partyId",
            "in": "path",
            "description": "Unique identifier of the party",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
[...]
